.col-xs-12.col-md-10
  = bootstrap_form_for model, layout: :horizontal do |f|
    = f.hidden_field :parent_id
    = f.text_field :title
    = f.text_area :text_content, { 'data-provide' => 'markdown', 'data-resize' => 'true', 'data-iconlibrary' => 'fa', 'data-hidden-buttons' => 'cmdImage', 'data-footer' => render(partial: 'groups/text_area_footer', locals: {group: @group, form: f})}
    = f.datetime_select :deadline
    = f.form_group
      = f.check_box :visible
    = f.form_group
      = f.check_box :bonus

    = f.select :language, language_selection, {label: 'Programmiersprache'}, onchange: "updateHelpPath()"

    - unless @test_file.nil?
      = f.form_group label: {text: 'Aktueller Test'}
        = text_field_tag '', @test_file, readonly: true, class: 'form-control'
    = f.file_field :test, label: 'Test'
    = f.hidden_field :test_cache

    - unless @hidden_test.nil?
      = f.form_group label: {text: 'Aktueller Hidden Test'}
        = text_field_tag '', @hidden_test, readonly: true, class: 'form-control'
    = f.file_field :hidden_test, label: 'Hidden Test', help: "Hidden Tests sind optional."
    = f.hidden_field :hidden_test_cache


    = yield f

    - if f.object.errors[:details].any?
      = f.form_group
        = btn_link_to 'Details', '#details', class: 'btn-danger', data: {toggle: 'collapse'}
      #details.collapse
        pre = f.object.errors[:details].join(', ')

    = f.form_group
      => f.submit 'Aufgabe erstellen'
      => btn_link_to "Hilfe", "#", class: 'btn-info', target: '_blank', id: "help_btn"

javascript:
    updateHelpPath()

    function updateHelpPath() {
      var path = $("#submission_task_language option:selected").data("path")
      $("#help_btn").attr("href", path)
  }
