- submission = locals[:submission]
.modal#submissionWarningDialog aria-hidden="false" aria-labelledby="submissionWarningDialog" role="dialog" tabindex="-1"
  .modal-dialog role="document" style="width: 85%;"
    .modal-content
      .modal-header
        button.close aria-label="Close" data-dismiss="modal" type="button"
          span aria-hidden="true"  &times;
        h4.modal-title
          = icon 'exclamation-circle '
          |   Warnungen zur Abgabe
      .modal-body.tab-content
        pre = submission.warning_text
      .modal-footer
        button.btn.btn-secondary data-dismiss="modal" type="button" style="width: 100%"  Schließen

javascript:
  $('.modal#submissionWarningDialog').modal({show: true})
