= render partial: 'breadcrumb', locals: { path_append: 'Ergebnisse' }

- if @submission&.warning_text && !@submission.warning_text.blank?
  = render 'warnings_dialog', locals: {submission: @submission}

= content_for :title
  = "Ergebnisse"

= content_for :main
  - if can? :statistics, @task
    .row
      h2.text-center
        = @task.title
        br
        small = "#{@task.submissions.count} Abgaben"
  .col-lg-3
    h4 Richtige vs Falsche
    = pie_chart @task.correct_wrong_data(current_ability), library: {backgroundColor: 'transparent'}
  .col-lg-3
    h4 Häufigkeit der Exceptions
    = pie_chart @task.exception_count_data(current_ability), library: {backgroundColor: 'transparent'}
  - if can? :statistics, @task
    .col-lg-3
      h4 Fehler / Test
      = pie_chart @task.wrong_count_data(current_ability), library: {backgroundColor: 'transparent'}
  - else
    h4.text-center Rankings
    br
    .col-lg-3
      .well.well-sm.text-center
        p.bold
          | besser als
        p
          = number_to_percentage(@submission.percent_rank, precision: 0)
    .col-lg-3
      .well.well-sm.text-center
        p
          | schneller als
        p
          | TODO
    .col-lg-3
      .well.well-sm.text-center
        p
          | code größe
        p
          | TODO
    .col-lg-3
      .well.well-sm.text-center
        p
          | Placeholder
        p
          | TODO

- if can? :statistics, @task
  div.alert.alert-danger.alert-dismissable
    Die Seite lädt sich selbst nicht neu. Bitte selber neuladen, falls Abgaben noch nicht verarbeitet wurden.

.col-lg-12
  table.table.table-striped.table-condensed
    thead
      tr
        th.first-column.word-wrap
          - if can? :download, @task
            .btn-group
              button.btn.btn-primary.dropdown-toggle[data-toggle='dropdown']
                ' Nutzer
                span.caret
              ul.dropdown-menu
                li = link_to 'Abgaben', polymorphic_url([@task, :download_submissions])
                li = link_to 'Abgaben (unkorrigiert)', polymorphic_url([@task, :download_submissions], not_corrected: true)
                li = link_to 'CSV', polymorphic_url([@task, :results], format: :csv)
          - else
            ' Nutzer

        th.text-center
          | Actions

        - @test_cases.each do |test_case|
          th.text-center
            = test_case.name
    tbody
      - @submissions.each do |submission|
        tr[class=(table_result_class(submission, @task))]
          td[class=(is_tutor(@task, submission.user) ? 'tutor' : 'student')]
            = link_to submission.display_name, submission_download_path(submission)
          td.btn-group
            - feedback = @task.feedbacks.find_by(student: submission.user)
            - if can? :feedback, submission and !feedback
              = link_to new_submission_feedback_path(submission), class: 'btn btn-outline-primary btn-sm'
                i.fa.fa-pencil
            - elsif can? :feedback, submission and feedback
              = link_to edit_submission_feedback_path(submission, feedback), class: 'btn btn-outline-primary btn-sm', "data-toggle" => "tooltip", "data-placement" => "bottom", "title" => "Create/Edit feedback"
                i.fa.fa-pencil
            - if can? :feedback, submission
              = link_to "", class: "btn btn-outline-success open-feedback-btn #{feedback.nil? ? '' : 'has-feedback'}", id: "feedback-btn-#{submission.id}", "data-toggle" => "tooltip", "data-placement" => "bottom", "data-feedback-id" => (feedback.nil? ? nil : feedback.id), "data-submission-id" => submission.id, "title" => (feedback.nil? ? '' : truncate(feedback.feedback))
                i.fa.fa-comment
            - else
              - if feedback
                = link_to submission_feedback_path(submission, feedback), class: 'btn btn-outline-success',"data-toggle" => "tooltip", "data-placement" => "bottom", "title" => truncate(feedback.feedback)
                  i.fa.fa-comment
              - else
                = link_to '#', class: 'btn btn-outline-primary disabled',"data-toggle" => "tooltip", "data-placement" => "bottom", "title" => "No feedback available"
                  i.fa.fa-comment
            - if submission.task.bonus?
              - if submission.user.has_locked_task? @task
                  = link_to '', data: { task_id: @task.id, user_id: submission.user.id }, class: 'btn btn-outline-primary btn-sm lock-task-btn' do
                    i.fa.fa-check
                    span.tooltiptext Korrekturbereitschaft zurückziehen
              - else
                = link_to '', data: { task_id: @task.id, user_id: submission.user.id }, class: 'btn btn-outline-primary btn-sm lock-task-btn' do
                  i.fa.fa-check
                  span.tooltiptext Zur Korrektur bereitgeben
              - if current_user.user_class == 'M'
                  = link_to '', data: { task_id: @task.id, user_id: submission.user.id }, class: 'btn btn-outline-primary btn-sm correct-task-btn' do
                    i.fa.fa-book
                    span.tooltiptext Korrektur

          - @test_cases.each do |test_case|
            td.text-center
              - test_result = submission.test_results.where(test_case_id: test_case.id).first
              - if test_result.nil?
                i.fa.fa-spinner.fa-spin.fa-2x.fa-fw
              - elsif test_result.successful
                i.fa.fa-check-circle.large-text.green
              - else
                a[data-toggle="tab" href="##{submission.id}_#{test_result.id}"]
                  div.clickable[data-toggle="modal" data-target="#failure-trace-modal"]
                    div[data-toggle="tooltip" data-placement="top" title=test_result.failure_message]
                      - if test_case.name.include?('SourceCodeTest')
                        i.fa.fa-exclamation-circle.large-text.yellow
                      - else
                        i.fa.fa-times-circle.large-text.red

    - if can? :statistics, @task
      tfoot
        tr
          td.first-column
          - num_submissions = @task.submissions.count
          - @test_cases.each do |test_case|
            td.text-center = number_to_percentage(test_case.test_results.correct.count.to_f / num_submissions * 100, precision: 0)
- if @unfinished
  div style="z-index:1001;display:flex;justify-content:center;align-items:center;width:100vw;height:100vh;position:fixed;top:0px;left:0px;background-color:black;opacity:0.9;"
    p
      i.fa.fa-spinner.fa-spin.fa-3x.fa-fw style="color:white;"
    p style="color:white;"
      | Test wird ausgeführt, dies kann einige Minuten dauern!
      br
      b Diese Seite lädt sich selbst neu, keine Angst!
    javascript:
        setTimeout(function () {
            location.reload()
        }, 10000);

#failure-trace-modal.modal.fade aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1"
  .modal-dialog role="document" style="width: 85%;"
    .modal-content
      .modal-header
        button.close aria-label="Close" data-dismiss="modal" type="button"
          span aria-hidden="true"  &times;
        h4#myModalLabel.modal-title Fehler Details
      .modal-body.tab-content
        - @submissions.each do |submission|
          - @test_cases.each do |test_case|
            - test_result = submission.test_results.wrong.where(test_case_id: test_case.id).first
            - unless test_result.nil?
              .tab-pane[id = "#{submission.id}_#{test_result.id}"]
                pre
                  = (test_result.failure_trace && test_result.failure_trace.strip.empty?) ? 'Keine weiteren Details vorhanden!' : test_result.failure_trace
      .modal-footer
        button.btn.btn-secondary data-dismiss="modal" type="button" style="width: 100%"  Schließen

#feedback-modal.modal.fade aria-hidden="true" aria-labelledby="feedbackModal" role="dialog" tabindex="-1"
  .modal-dialog role="document" style="width: 50%"
    .modal-content
      .modal-header
        button.close aria-label="Close" data-dismiss="modal" type="button"
          span aria-hidden="true"  &times;
        h4#myModalLabel.modal-title Feedback
      .modal-body.tab-content style="min-height: 250px"
        textarea.form-control#feedback-textarea rows="20"
      .modal-footer
        button#create-update-feedback-btn.btn.btn-secondary data-dismiss="modal" type="button" style="width: 100%"  Erstellen/Aktualisieren
