= render 'tasks/form', model: @submission_task, language_selection: map_submission_languages_to_select_options_with_help_path(@submission_task.language) do |f|
  - unless @stub_file.nil?
    = f.form_group label: {text: 'Aktueller Stub'}
      = text_field_tag '', @stub_file, readonly: true, class: 'form-control'
  = f.file_field :stub, label: 'Stub'
  = f.hidden_field :stub_cache


javascript:
    updateHelpPath()

    function updateHelpPath() {
      var path = $("#submission_task_language option:selected").data("path")
      $("#help_btn").attr("href", path)
  }
