= render partial: 'breadcrumb', locals: {path_append: 'JPlag Ergebnisse'}

= content_for :title
  = "JPlag Ergebnisse"

= content_for :main
  h3 = "#{@group.title} JPlag Ergebnisse"

  - @jplag_groups.each do |group|
    table.table.table-striped
      thead
        tr
          th
            | Abgabe
          - i = 1
          - group.jplag_matches.each do |m|
            th= "Vergleich #{i}"
            - i += 1
      tbody
        tr
          td= group.submission.user.display_name
          - group.jplag_matches.each do |m|
            td= link_to "#{m.submission.user.display_name} (#{m.percentage}%)", m
