= render partial: 'breadcrumb', locals: {path_append: 'Moss Graph'}

= content_for :title
  = "Moss Graph"

= content_for :main
  h3 = "#{@group.title} Moss Graph"
  #graph_container.well.well-sm.fill-height.col-lg-12

javascript:
  // create an array with nodes
  var nodes = new vis.DataSet(#{raw moss_graph_nodes(@submissions)});

  // create an array with edges
  var edges = new vis.DataSet(#{raw moss_graph_edges(@moss_matches)});

  // create a network
  var container = document.getElementById('graph_container');

  // provide the data in the vis format
  var data = {
    nodes: nodes,
    edges: edges
  };
  var options = {};

  // initialize your network!
  var network = new vis.Network(container, data, options);