= render partial: 'breadcrumb', locals: {path_append: 'Moss Ergebnisse'}

= content_for :title
  = "Moss Ergebnisse"

= content_for :main
  h3 = "#{@group.title} Moss Ergebnisse"
  table.table.table-striped
    thead
      tr
        th
          | Abgabe 1
        th
          | Übereinstimmung 1
        th
          | Übereinstimmung 2
        th
          | Abgabe 2
    tbody
      - @moss_matches.each do |moss_match|
        tr
          td.word-wrap = link_to moss_match.submission_1.display_name, moss_match
          td = link_to moss_match.match_percentage_1, moss_match
          td = link_to moss_match.match_percentage_2, moss_match
          td.word-wrap  = link_to moss_match.submission_2.display_name, moss_match