= render partial: 'breadcrumb'

- content_for :main
  h1
    - unless @submission_task.visible
      i.fa.fa-eye-slash
    =< @submission_task.title
    .pull-right.small
      = link_to '#bottom'
        = icon 'angle-double-down'
        | &nbsp;Abgabe
  == render_text @submission_task

.col-lg-12#bottom
  .panel.panel-default
    .panel-body
        p
          b
            'Abgabedatum:
          = (@submission_task.deadline.nil?) ? '--.--.----' : l(@submission_task.deadline)
        - unless @submission_task.deadline.nil?
          p
            b
              - if @submission_task.deadline.future?
                'Verbleibende Zeit:
              - else
                'Abgelaufen seit:
            = distance_of_time_in_words_to_now @submission_task.deadline
        br
    .row
      - if can? :batch_upload, @submission_task
        .col-lg-12
          - if @submission_task.deadline.nil? or @submission_task.deadline.future?
            - volume = queue_size()
            - if load_high?(volume)
              .alert.alert-warning.text-center
                | Momentan sind #{volume} Abgaben zu bearbeiten. Es kann ein wenig Dauern bis sie Ergebnisse bekommen.
          .col-xs-12.col-md-10
            = bootstrap_form_tag(url: submission_batch_upload_path(), layout: :horizontal, multipart: true, method: :post, html: {'enctype' => 'multipart/form-data'}) do
              .form-group
                = label_tag :submission_batch, 'Batch Abgabe', class: 'control-label col-sm-2'
                .col-sm-10
                  = file_field_tag :submission_batch
              = hidden_field_tag :task_id, @submission_task.id
              .form-group
                .col-sm-10.col-sm-offset-2
                  = submit_tag 'Hochladen', class: 'btn btn-default'
              br
      .col-lg-12
        - if @submission_task.deadline.nil? or @submission_task.deadline.future?
          = render partial: 'submissions/form', object: @submission
        - else
          .col-md-4.text-center
          => btn_link_to "Download Tests", submission_task_download_tests_path(@task), class: 'btn-warning', target: '_blank', icon: 'download'
          .alert.alert-danger.text-center style="margin-top:2em;"
            | Deadline abgelaufen!
