doctype html
html
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
  body
    h1 = "Welcome to example.com, #{@user.display_name}"
    p
      = "Ihre Abgabe für die Aufgabe #{link_to @task.title, @url} wurde durch eine Änderung an der Aufgabe ungültig!
