.col-xs-12.col-md-10
  = bootstrap_form_for @group, layout: :horizontal do |f|
    = f.hidden_field :parent_id
    = f.text_field :title
    = f.text_area :text_content, { 'data-provide' => 'markdown', 'data-resize' => 'true', 'data-iconlibrary' => 'fa', 'data-hidden-buttons' => 'cmdImage', 'data-footer' => render(partial: 'groups/text_area_footer', locals: {group: @group, form: f})}
    = f.form_group
      = f.check_box :visible
    = f.form_group
      = f.submit
