- groups.each do |group|
  .col-lg-6.col-s-12
    .panel.panel-default class=((group.visible) ? nil : "not-visible")
      .panel-heading
        h4
          = link_to group.title, group
          .btn-group.pull-right
            = btn_link_to 'Ergebnisse', polymorphic_url([group, :results]), class: 'btn btn-primary', icon:'stack-overflow' if can?(:results, group) and group.has_submissions?(current_ability)
            - unless group.text_content.blank?
              button.btn.btn-default data-toggle="collapse" data-target='.collapse##{group.id}'
                = icon 'caret-down'

      .panel-content.collapse id=group.id
        == render_text(group)
      ol.list-group
        - group.children.accessible_by(current_ability).each do |child|
          li.list-group-item = link_to child.title, child
