
= form.hidden_field :markup, id: "hidden_markup"

.row
  .col-sm-10
    = render(partial: 'attachments/attachment_btn', locals: {group: group})
  .col
    = select_tag "markup", options_for_select(Group.markups.keys, selected: group.markup)
