= render partial: 'breadcrumb', locals: { path_append: 'Ergebnisse' }
= content_for :title
  = "Ergebnisse"

= content_for :main
  .col-lg-12
    - if can? :statistics, @group
      .row
        h2.text-center
          = @group.title
          br
          small = "#{@group.submissions.count} Abgaben"
    .row
      .col-xs-6.col-sm-6.col-md-3.col-lg-3
        = pie_chart @group.correct_wrong_data(current_ability)
      .col-xs-6.col-sm-6.col-md-3.col-lg-3
        = pie_chart @group.exception_count_data(current_ability)
      .col-xs-12.col-sm-12.col-md-6.col-lg-6
        - data = @children.map {|group| [group.title, group.average_result(current_ability)]}
        = line_chart data, min: 0, max: 100, curve: false

.col-xs-12
  table.table.table-striped.table-condensed
    thead
      tr
        th.first-column.word-wrap
          - if can? :download, @group
            .btn-group
              button.btn.btn-primary.dropdown-toggle[data-toggle='dropdown']
                ' Nutzer
                span.caret
              ul.dropdown-menu
                li = link_to 'CSV', polymorphic_url([@group, :results], format: :csv)
          - else
            ' Nutzer
        - @children.each do |group|
          th.text-center
            = link_to group.title, polymorphic_url([group, :results])
    tbody
      - @submitters.each do |user|
        tr
          td.first-column[class=(is_tutor(@group, user) ? 'tutor' : 'student')] = user.display_name
          - @children.each do |group|
            td.text-center
              = number_to_percentage(group.average_result(current_ability, user), precision: 0)
    - if can? :statistics, @group
      tfoot
        tr
          td.first-column
          - @children.each do |group|
            td.text-center = number_to_percentage(group.average_result(current_ability), precision: 0)