= render partial: 'breadcrumb'

= content_for :main
  h1
    - unless @group.visible
      i.fa.fa-eye-slash
    =< @group.title
    .pull-right.small
      = link_to '#bottom'
        = icon 'angle-double-down'
        | &nbsp;Aufgaben
  == render_text @group

hr#bottom
= render partial: 'groups', locals: { groups: @group.children.accessible_by(current_ability) }
