= render partial: 'breadcrumb'

= content_for :title
  = "JPlag Vergleich"

= content_for :main
  h2= "Übereinstimmung: #{@jplag_match.percentage}%"
  div.row
    div.col-lg-6
      h3= @jplag_match.jplag_group.submission.user.display_name
    div.col-lg-6
      h3= @jplag_match.submission.user.display_name
    div.word-wrap.moss-match-html.col-lg-6
      = raw(@left_html)
    div.word-wrap.moss-match-html.col-lg-6
      = raw(@right_html)
    div[style="clear: both;"]
