label.btn.btn-link.btn-sm
  = icon 'upload'
  | &nbsp;&nbsp;Attach file
  = file_field_tag 'file', style: 'display: none;', id: 'attachment-upload', data: { "upload-url": attachments_path }
span.small = "max: #{Rails.configuration.max_attachment_size/1024/1024} MB"
