= render partial: 'breadcrumb', locals: {path_append: [ link_to('Moss Ergebnisse', submission_task_moss_results_path(@group)), 'Moss Vergleich']}

= content_for :title
  = "Moss Vergleich - #{@moss_match.submission_1.display_name} - #{@moss_match.submission_2.display_name}"

= content_for :main
  div.row
    div.col-lg-6
      h3 = @moss_match.submission_1.display_name
    div.col-lg-6
      h3 = @moss_match.submission_2.display_name
    div.word-wrap.moss-match-html.col-lg-6
      = raw(@submission_1_html)
    div.word-wrap.moss-match-html.col-lg-6
      = raw(@submission_2_html)
    div[style="clear: both;"]
