<% if @saved %>
  $("<%= escape_javascript(render @access) %>").appendTo("#accesses");
  $("#user_id").val(undefined)
<% else %>
  alert("Zugang konnte nicht erstellt werden: <%= escape_javascript(@access.errors.full_messages.join(", ")) %>");
<% end %>