= render partial: 'breadcrumb', locals: {path_append: 'Rechte verwalten'}

= content_for :main
  = "Zu #{@group.title} haben zugang:"

  = bootstrap_form_for @access, remote: true, html: {class: 'form-inline'} do |f|
    = autocomplete_field_tag 'display_name', '', autocomplete_display_name_users_path, :id_element => '#user_id', class: 'form-control', placeholder: 'Suche'
    = f.hidden_field :user_id, id: 'user_id'
    = f.hidden_field :group_id
    = f.submit 'Erlaube Zugang'

div#accesses
  - @accesses.each do |access|
    = render access