.col-xs-12.col-md-10
  = bootstrap_form_for @submission, layout: :horizontal do |f|
    /= f.text_field :name, label: 'Name' unless @submission.new_record?
    = f.hidden_field :task_id
    - if @task.is_a?(JshellTask)
      = f.text_area :output_content, rows: "10", label: "JShell code"
    - else
      - if (defined?(input_output_task) && input_output_task)
        - if needs_source
          = f.file_field :submission, label: "Quellcode"
        - else
          = f.file_field :submission, label: "Quellcode", disabled: "disabled"
      - else
        = f.file_field :submission, label: "Programm"
    = f.hidden_field :submission_cache

    = f.text_area :output_content, rows: "10", label: "Ausgabetext" if defined?(input_output_task) && input_output_task

    -if @submission.errors[:details].any?
      = f.form_group
        = btn_link_to 'Details', '#details', class: 'btn-danger', data: {toggle: 'collapse'}
      #details.collapse
        pre = @submission.errors[:details].join(', ')

    = f.form_group
      .btn-group
        - if current_user.has_locked_task? @submission.task
          = f.submit "Abgeben", disabled: true, title: 'Sie haben bereits Ihre Abgabe zur Korrektur freigegeben. Sie können dies auf der Ergebnis-Seite rückgängig machen.'
        - else
          = f.submit "Abgeben"
        = btn_link_to "Hilfe", @task.test_runner.student_help_path, class: 'btn-info', target: '_blank', icon: 'question'
        - if @task.has_donwloadable_tests? and can? :download_tests, @task
          => btn_link_to "Download Tests", submission_task_download_tests_path(@task), class: 'btn-warning', target: '_blank', icon: 'download'
