p="Hallo #{@user.display_name},"
p
  = "Ihre Abgabe für die Aufgabe "
  strong= @task.title
  = " hat ein neues Feedback erhalten."

p= "Feedback:"
blockquote= @feedback.feedback
p= "Zeit: #{l @feedback.updated_at}"
= link_to "Auf Dozentron anzeigen", submission_feedback_url(@submission, @feedback)

p[style="color: grey;"] Dies ist eine automatisierte E-Mail. Bitte nicht antworten. Falls Sie Fragen haben, kontaktieren Sie den Ersteller des Feedbacks.