.col-xs-12.col-md-10
  h2
    | Feedback für #{@submission.user.display_name}&nbsp;
    small Aufgabe: #{@submission.task.title}
  = bootstrap_form_for [@submission, @feedback], layout: :horizontal do |f|
    = f.text_area :feedback, { 'data-provide' => 'markdown', 'data-resize' => 'true', 'data-iconlibrary' => 'fa', 'data-hidden-buttons' => 'cmdImage', 'data-footer' => render(partial: 'feedbacks/text_area_footer', locals: {feedback: @feedback, form: f}) }
    = f.form_group
      = link_to "Zurück", polymorphic_url([@submission.task, :results]), class: 'btn btn-default'
      = f.submit class: 'btn btn-primary'
      = link_to "Download Submission", submission_download_path(@submission), class: 'btn btn-primary pull-right'
    - if @feedback.errors.any?
      ul
        = @feedback.errors.full_messages.each do |msg|
          li #{msg}
