= render partial: 'breadcrumb', locals: { group: nil }

= content_for :main
.col-xs-12.col-md-10
  =bootstrap_form_for @feedback, layout: :horizontal do |f|
    =f.text_field :student
    =f.text_field :task
    =f.text_field :feedback
    =f.submit
