= render partial: 'breadcrumb', locals: {path_append: 'Feedback'}

= content_for :main
  .panel.panel-default
    .panel-heading
      | Feedback für&nbsp;
      em #{@feedback.task.title}
    .panel-body
      p = render_feedback(@feedback).html_safe
    .panel-footer
      strong Editor: &nbsp;
      = @feedback.editor.display_name
      | &nbsp;(#{@feedback.updated_at.strftime("%d.%m.%Y %H:%M")}) &nbsp;
      = link_to 'Ihre Abgabe', submission_download_path(@submission)
