/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require jquery-ui
 *= require rails_bootstrap_forms
 *= require font-awesome-import
 *= require general
 *= require layout
 *= require_tree ./prism
 *= require_tree ./bootstrap-markdown
 *= require_tree ./vis
 *= require_tree ./github-markdown-css
 *= require manni
 *= require_self
 */

//@import "bootstrap-sprockets";
@import "bootstrap";

.footer-section {
  text-align: center;

  ul {
    list-style: none;
    li {
      display: inline-block;
      text-decoration: none;
      padding-right: 2em;
    }
  }
}
