.large-text {
  font-size: 28px;
}

.green {
  color: green;
}

.yellow {
  color: #e5f02f;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  background-color: #eeeeee;
}

.center-text {
  text-align: center;
}

.red {
  color: red;
}

.word-wrap {
  word-break: break-word;
  word-wrap: break-word;
}

.row.top-space {
  margin-top: 20px;
}

.first-column {
  min-width: 200px;
}

.fill-width {
  width: 100%;
}

#graph_container, .moss-match-html > pre[class *= "language-"] {
  height: calc(100vh - 225px);
}

.moss-match-html > pre[class *= "language-"]{
  overflow: auto;
}

#moss-viewer {
  height: 100%;
}

.nav .nav {
  padding-left: 20px;
}

.not-visible {
  opacity: 0.55;
}

.space {
  margin: 0px 5px;
}

.tutor, .tutor * {
  color: green;
}

.io-task-hint {
  padding: 20px;
  margin: 20px 15px 20px 15px;
  line-height: 1.5;
}

.io-task-hint .fa-info-circle {
  font-size: 37px;
  float: left;
  padding-right: 10px;
}

.lock-task-btn {
  position: relative;
  display: inline-block;
}

.correct-task-btn {
  position: relative;
  display: inline-block;
}

.lock-task-btn-checked {
  color: green;
}

/* Tooltip text */
a .tooltiptext {
  visibility: hidden;
  width: 230px;
  font-size: 14px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -115px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
a .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
a:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.result-locked {
  background-color: #35ff77 !important;
}

.result-corrected {
  background-color: #fdff96 !important;
}

a.has-feedback {
  color: green;
}
