body {
  height: 100vh;
}

//.text-center {
//  padding-top: 20px;
//}
//.col-xs-12 {
//  // background-color: #fff;
//}
//
#sidebar {
  height: 100%;

  top: 0px;
  left: 0px;
  z-index: 1000;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #ddd;

  padding-top: 51px;
  padding-right: 0px;
  padding-left: 0px;

  margin-right: 0px;
  margin-left: 0px;
  border-right: 1px solid #aaa;
}
#sidebar .text {
  padding-left: 10px;
  padding-bottom: 30px;
}
//#sidebar li {
//  border-top: 1px solid #EEE;
//  border-bottom: 1px solid #CCC;
//}
//
#content-header-wrapper {
  height: 100vh;
  padding-left: 0px;
  display: flex;
  flex-direction: column;
}
//
//#content-header {
//  width: 940px;
//  border-right: 1px solid #aaa;
//}
//
#content {
  height: 100%;
  box-sizing: border-box;
}
//
//.content-wrapper {
//  margin-left: 15px;
//}
//
//.page-header h1:first-child {
//  border-bottom: 1px solid #aaa;
//}
//
//h1.header {
//  color: #de6611;
//}