- path_append = [path_append] if (defined? path_append) and not path_append.nil? and not path_append.is_a? Array

- content_for :breadcrumbs
  ol.breadcrumb
    li = icon_link_to 'Übersicht', root_path, :home
    - unless @group.nil?
      - @group.ancestors.each do |ancestor|
        li
          => link_to ancestor.title, ancestor
          - unless ancestor.visible
            i.fa.fa-eye-slash
      - if not (defined? path_append) or path_append.nil? or path_append.empty?
        li.active
          => @group.title
          - unless @group.visible
            i.fa.fa-eye-slash
      - elsif not @group.new_record?
        li = link_to @group.title, @group

    - unless not (defined? path_append) or path_append.nil? or path_append.empty?
      - last = path_append.pop
      - path_append.each do |elem|
        li = elem
      li.active = last