footer
  .container-fluid
    .footer-section
      p.text-muted= Rails.application.config.git_rev
      p.text-muted= "© 2016-#{Time.now.year} D. Althaus, N. Justus and others, All rights reserved."
    .footer-section
      ul
        li= link_to "https://git.thm.de/dalt40/dozentron/wikis/home"
          = icon 'info-circle'
          | &nbsp;&nbsp; Wiki
        li= link_to "https://git.thm.de/dalt40/dozentron"
          = icon 'gitlab'
          | &nbsp;&nbsp;Code
        li= link_to "https://git.thm.de/dalt40/dozentron/issues/new?issue"
          = icon 'comments'
          | &nbsp;&nbsp;Feedback
