- disabled = false if not defined? disabled or disabled.nil?
- url = '#' if not defined? url or url.nil?
- options = {} if not defined? options or options.nil?
- attributes = {} if not defined? attributes or attributes.nil?

- if disabled
  li.disabled *attributes
    = link_to title, '#', **options
- else
  li.pill *attributes
    = link_to url, **options
      - if defined? icn
        = icon icn
      | &nbsp;&nbsp;&nbsp;#{title}
