- if not defined?(group) and defined?(@group) and not @group.nil?
  - group = (@group.new_record?) ? @group.parent : @group

- if can? :create, Group or (defined? group and not group.nil?)
  .panel.panel-default
    ul.nav.nav-pills.nav-stacked
      - if defined? group and not group.nil?
        - if not group.new_record?
          - if can?(:sub_group, group) and group.allow_subgroup?
            = render partial: 'nav_pill', locals: {title: 'Neue Gruppe', url: new_group_group_path(group), icn:'plus', options: {class:''}}
          - if can?(:sub_task, group) and group.allow_subtask?
            = render partial:'nav_pill', locals: {title: 'Neue Input/Output Aufgabe', url: new_group_input_output_task_path(group), icn:'plus', options: {class:''}}
            = render partial: 'nav_pill', locals: {title: 'Neue JShell Aufgabe', url: new_group_jshell_task_path(group), icn:'plus', options: {class:''}}
            = render partial: 'nav_pill', locals: {title: 'Neue Aufgabe', url: new_group_submission_task_path(group), icn:'plus', options: {class:''}}


          - if can? :results, group
            = render partial: 'nav_pill', locals: {title: 'Ergebnisse', url: polymorphic_url([group, :results]), icn:'stack-overflow', options: {class:'', disabled: (not group.has_submissions?(current_ability))}}
          - if can? :statistics, group
            = render partial: 'nav_pill', locals: {title: 'Statistiken', url: polymorphic_url([group, :statistics]), icn:'chart-line', options: {class:'', disabled: (not group.has_submissions?(current_ability))}}

          - if can?(:moss, group)
            - if group.is_a? SubmissionTask and MossRun.can_run_moss?
              = render partial: 'nav_pill', locals: {title: 'Moss starten', url: submission_task_run_moss_path(group), disabled: group.moss_run.scheduled, attributes: {id: 'start-moss-button'}, options: {remote: true}}
            = render partial: 'nav_pill', locals: {title: 'Moss Ergebnisse', url: submission_task_moss_results_path(group), disabled: (not group.has_moss_results?)}
            = render partial: 'nav_pill', locals: {title: 'Moss Graph', url: submission_task_moss_graph_path(group), disabled: (not group.has_moss_results?)}

          - if can?(:jplag, group) && group.is_a?(SubmissionTask)
            = render partial: 'nav_pill', locals: {title: 'JPlag starten', url: submission_task_run_jplag_path(group)}
            = render partial: 'nav_pill', locals: {title: 'JPlag Ergebnisse', url: submission_task_jplag_results_path(group), disabled: (not group.has_jplag_results?)}

          = render partial: 'nav_pill', locals: {title: 'Rechte verwalten', url: group_accesses_path(group.root), icn:'edit', options: {class: ''}} if group.root?() && can?(:grant_access, group)
          / = link_to 'Bearbeiten', edit_polymorphic_path(group), class: '' , icon:'edit' if can? :update, group
          = render partial: 'nav_pill', locals: {title: 'Bearbeiten', url: edit_polymorphic_path(group), icn: 'edit', options: {class:''} }
          = render partial: 'nav_pill', locals: {title: 'Löschen', url: polymorphic_path(group), icn: 'trash', options: {method: :delete, class:'text-danger', data: {confirm: 'Sind sie Sicher?'}} }
      - else
        li = link_to 'Neue Gruppe', new_group_path if can? :create, Group
