= render partial: 'breadcrumb', locals: {path_append: 'Statistiken'}

= content_for :main
  h3
    - unless @group.visible
      i.fa.fa-eye-slash
    =< @group.title
  p
    ' Statistiken über
    strong> finale
    | Abgaben von Studenten. Aus technischen Gründen können Statisken nur über die letzte Abgabe für jede Aufgabe geführt werden.

.row
  .col-sm-12.space
    h2.center-text Wann wurden finale Abgaben gemacht?

  .col-sm-12.space
    h3.center-text nach Wochentag
    = area_chart @submissions.group_by_day_of_week(:updated_at, format: '%A').count
  .col-sm-12.space
    h3.center-text nach Monat
    = area_chart @submissions.group_by_month(:updated_at).count
  .col-sm-12.space
    h3.center-text nach Stunde des Tages
    = area_chart @submissions.group_by_hour_of_day(:updated_at).count
  .col-sm-12.space
    h3.center-text nach Tag
    = area_chart @submissions.group_by_day(:updated_at, default_value: 0).count
