doctype html
html
  head
    title
      - title = yield :title
      = "Dozentron #{title.to_s.empty? ? '': "- #{title}"}"
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'https://www.google.com/jsapi', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  body
    nav.navbar.navbar-static-top.navbar-inverse
      .container-fluid
        .navbar-header
          a.navbar-brand[href="/"] Dozentron
          = btn_link_to 'Hilfe', doc_path, icon: 'question-circle' , class: 'navbar-btn'
.container
  #flash-container.content-wrapper
    - unless notice.nil?
      div.alert.alert-success.alert-dismissable
        button type="button" class="close" data-dismiss="alert" aria-hidden="true"
          | &times;
        = notice
    - unless alert.nil? || alert.empty?
      div.alert.alert-danger.alert-dismissable
        button type="button" class="close" data-dismiss="alert" aria-hidden="true"
          | &times;
        = alert
  .panel.panel-default
    .panel-body
      h2 Willkommen auf Dozentron.
  .panel.panel-default
    / .panel-heading
    /   | Login über CAS
    .panel-body
      = link_to "Login über CAS", main_app.new_user_session_path, class: "btn btn-success btn-lg btn-block"
    .panel-footer
      | Der Link "Login über CAS" führt Sie zum zentralen "CAS" Login-Dienst. Nach Angabe Ihrer THM-Benutzerkennung und Ihres Passwortes werden Sie angemeldet und automatisch zur Dozentron-Startseite weitergeleitet. &nbsp;
      = link_to "Was ist CAS?", "https://cas.thm.de/cas/help"
= render partial: 'footer'


    / .container
    /   .row
    /     .col-md-2
    /     .col-md-6
    /       h1 Willkommen auf Dozentron.
    /     .col-md-2
