<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type"/>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <link href="/assets/favicons/apple-touch-icon-57x57.png" rel="apple-touch-icon-precomposed" sizes="57x57"/>
  <link href="/assets/favicons/apple-touch-icon-114x114.png" rel="apple-touch-icon-precomposed" sizes="114x114"/>
  <link href="/assets/favicons/apple-touch-icon-72x72.png" rel="apple-touch-icon-precomposed" sizes="72x72"/>
  <link href="/assets/favicons/apple-touch-icon-144x144.png" rel="apple-touch-icon-precomposed" sizes="144x144"/>
  <link href="/assets/favicons/apple-touch-icon-60x60.png" rel="apple-touch-icon-precomposed" sizes="60x60"/>
  <link href="/assets/favicons/apple-touch-icon-120x120.png" rel="apple-touch-icon-precomposed" sizes="120x120"/>
  <link href="/assets/favicons/apple-touch-icon-76x76.png" rel="apple-touch-icon-precomposed" sizes="76x76"/>
  <link href="/assets/favicons/apple-touch-icon-152x152.png" rel="apple-touch-icon-precomposed" sizes="152x152"/>
  <link href="/assets/favicons/favicon-196x196.png" rel="icon" sizes="196x196" type="image/png"/>
  <link href="/assets/favicons/favicon-96x96.png" rel="icon" sizes="96x96" type="image/png"/>
  <link href="/assets/favicons/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png"/>
  <link href="/assets/favicons/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png"/>
  <link href="/assets/favicons/favicon-128.png" rel="icon" sizes="128x128" type="image/png"/>
  <meta content=" " name="application-name"/>
  <meta content="#FFFFFF" name="msapplication-TileColor"/>
  <meta content="/assets/favicons/mstile-144x144.png" name="msapplication-TileImage"/>
  <meta content="/assets/favicons/mstile-70x70.png" name="msapplication-square70x70logo"/>
  <meta content="/assets/favicons/mstile-150x150.png" name="msapplication-square150x150logo"/>
  <meta content="/assets/favicons/mstile-310x150.png" name="msapplication-wide310x150logo"/>
  <meta content="/assets/favicons/mstile-310x310.png" name="msapplication-square310x310logo"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  <style>
    body {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
    }

    main {
      flex: 1 0 auto;
    }

    h4 {
      line-height: inherit;
      margin: 0;
    }

    nav {
      background-color: #80ba24;
    }

    .page-footer {
      background-color: #80ba24;
    }

  </style>
  <title>
    Gildamesh - Wartungsarbeiten
  </title>
</head>
<body>
<header>
  <nav>
    <div class="nav-wrapper center">
      <h4>
        Gildamesh
      </h4>
    </div>
  </nav>
</header>
<main>
  <div class="container center-align">
    <div class="row">
      <div class="col s12">
        <h3>Wartungsarbeiten</h3>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <p>
          <%= "Das System wurde für #{ reason ? reason : "Wartungsarbeiten" } am #{Time.now.strftime "%F"} um #{Time.now.strftime "%H:%M"} heruntergefahren." %>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <b>
          <%= "Gildamesh ist #{ deadline ? "wahrscheinlich #{deadline}" : "bald"} wieder da." %>
        </b>
      </div>
    </div>
  </div>
</main>
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Kontakt</h5>
        <ul class="grey-text text-lighten-4">
          <li>Technische Hochschule Mittelhessen</li>
          <li>University of Applied Sciences</li>
          <li>
          </li>
          <li>Life Science Informatics</li>
        </ul>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li>
            <a href="https://git.thm.de/thsg47/gamification" class="white-text" target="_blank">Feedback und
              Verbesserungen</a>
          </li>
          <li>
            <a href="https://homepages.thm.de/~admn12/pages/home/home.html" class="white-text" target="_blank">Life
              Science Informatics</a>
          </li>
          <li>
            <a href="https://www.thm.de" class="white-text" target="_blank">Technische Hochschule Mittelhessen</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2016 Life Science Informatics, All rights reserved.
    </div>
  </div>
</footer>
</body>
</html>