= render 'tasks/form', model: @input_output_task, language_selection: map_i_o_languages_to_select_options_with_help_path(@input_output_task.language) do |f|
  - unless @stub_file.nil?
    = f.form_group label: {text: 'Aktueller Stub'}
      = text_field_tag '', @stub_file, readonly: true, class: 'form-control'
  = f.file_field :input_generator
  .col-sm-offset-2.col-sm-10.text-danger
      | Ändern des Generators führt zur Löschung aller Inputs. Damit werden auch alle bisherigen Abgaben falsch!
  = f.hidden_field :stub_cache
  = f.form_group
    = f.check_box :needs_source


javascript:
  updateHelpPath()

  function updateHelpPath() {
      var path = $("#input_output_task_language option:selected").data("path")
      $("#help_btn").attr("href", path)
  }
