= render partial: 'breadcrumb'

- content_for :main
  h3
    - unless @input_output_task.visible
      i.fa.fa-eye-slash
    =< @input_output_task.title
    .pull-right.small
      = link_to '#bottom'
        = icon 'angle-double-down'
        | &nbsp;Abgabe
  == render_text @input_output_task

.io-task-hint.bg-primary
  i.fa.fa-info-circle
  span Dies ist eine Input-Output Aufgabe. Hier wird nicht das Programm an sich getestet, sondern nur die erzeugte Ausgabe. Der benötigte Input ist unten verlinkt. Bitte geben Sie Ihre Ausgabe und das dazugehörige Programm ab.

.col-lg-12#bottom
  .panel.panel-default
    .panel-body
      p
        b
          'Abgabedatum:
        = (@input_output_task.deadline.nil?) ? '--.--.----' : l(@input_output_task.deadline)
      - unless @input_output_task.deadline.nil?
        p
          b
            - if @input_output_task.deadline.future?
              'Verbleibende Zeit:
            - else
              'Abgelaufen seit:
          = distance_of_time_in_words_to_now @input_output_task.deadline
        br
        p
          'Ihren Input finden sie:&nbsp;
          strong
            = link_to 'Hier', @input

      .col-lg-12
        - if @input_output_task.deadline.nil? or @input_output_task.deadline.future?
          = render partial: 'submissions/form', object: @submission, locals: {input_output_task: true, needs_source: @input_output_task.needs_source?}
        - else
          .alert.alert-danger.text-center style="margin-top:2em;"
            | Deadline abgelaufen!
