= render 'tasks/form',model: @jshell_task, language_selection: [@jshell_task.language] do |f|

javascript:
  updateHelpPath()

  function updateHelpPath() {
      console.error("no help available")
  }
