= render partial: 'breadcrumb'

- content_for :main
  h3
    - unless @jshell_task.visible
      i.fa.fa-eye-slash
    =< @jshell_task.title
    .pull-right.small
      = link_to '#bottom'
        = icon 'angle-double-down'
        | &nbsp;Abgabe
  == render_text @jshell_task

.col-lg-12#bottom
  .well
    .row
      .col-lg-12
        p
          b
            'Abgabedatum:
          = (@jshell_task.deadline.nil?) ? '--.--.----' : l(@jshell_task.deadline)
        - unless @jshell_task.deadline.nil?
          p
            b
              - if @jshell_task.deadline.future?
                'Verbleibende Zeit:
              - else
                'Abgelaufen seit:
            = distance_of_time_in_words_to_now @jshell_task.deadline
        br
    .row
      - if can? :batch_upload, @jshell_task
        .col-lg-12
          .col-xs-12.col-md-10
            = bootstrap_form_tag(url: submission_batch_upload_path(), layout: :horizontal, multipart: true, method: :post, html: {'enctype' => 'multipart/form-data'}) do
              .form-group
                = label_tag :submission_batch, 'Batch Abgabe', class: 'control-label col-sm-2'
                .col-sm-10
                  = file_field_tag :submission_batch
              = hidden_field_tag :task_id, @jshell_task.id
              .form-group
                .col-sm-10.col-sm-offset-2
                  = submit_tag 'Hochladen', class: 'btn btn-default'
              br
      .col-lg-12
        - if @jshell_task.deadline.nil? or @jshell_task.deadline.future?
          = render partial: 'submissions/form', object: @submission
        - else
          .col-md-4.text-center
          => btn_link_to "Download Tests", submission_task_download_tests_path(@task), class: 'btn-warning', target: '_blank'
          .alert.alert-danger.text-center style="margin-top:2em;"
            | Deadline abgelaufen!
