doctype html
html
  head
    title
      - title = yield :title
      = "Dozentron #{title.to_s.empty? ? '': "- #{title}"}"
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'https://www.google.com/jsapi', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML"
    = csrf_meta_tags
  body
    nav.navbar.navbar-static-top.navbar-inverse
      .container-fluid
        .navbar-header
          a.navbar-brand[href="/"] Dozentron
        .collapse.navbar-collapse
          - if user_signed_in?
            .navbar-right
              p.navbar-text Willkommen #{current_user.display_name}
              = btn_link_to 'Logout', main_app.destroy_user_session_path, icon: 'sign-out', class: 'navbar-btn', method: :delete
          - else
            = button_to "Login", main_app.new_user_session_path, class: "navbar-btn navbar-right"

          = bootstrap_form_tag action: :index, controller: :groups, method: :get, html: {class: 'navbar-form navbar-right'} do |f|
            .input-group
              = autocomplete_field_tag 'title', '', main_app.autocomplete_title_groups_path, :size => 75, class: 'form-control', placeholder: 'Suche'
              span.input-group-btn
                = button_tag class: 'btn btn-default'
                  i.fa.fa-search
    .container-fluid
      .row
        .col-sm-12
          header
            .col-lg-12
              = yield :breadcrumbs
            #flash-container.content-wrapper
              - unless notice.nil?
                div.alert.alert-success.alert-dismissable
                  button type="button" class="close" data-dismiss="alert" aria-hidden="true"
                    | &times;
                  = notice
              - unless alert.nil? || alert.empty?
                div.alert.alert-danger.alert-dismissable
                  button type="button" class="close" data-dismiss="alert" aria-hidden="true"
                    | &times;
                  = alert
          #content.container-fluid.content-wrapper.col-lg-12.col-md-12.col-sm-12.col-xs-12
            = yield
    /= render partial: 'footer'
