doctype html
html
  head
    title
      - title = yield :title
      = "Dozentron #{(not defined? @group) ? '': "- #{@group.title}"} #{title.to_s.empty? ? '': "- #{title}"}"
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'https://www.google.com/jsapi', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML"
    = csrf_meta_tags
  body
    nav.navbar.navbar-static-top.navbar-inverse
      .container-fluid
        .navbar-header
          a.navbar-brand[href="/"] Dozentron
          = btn_link_to 'Hilfe', doc_path, icon: 'question-circle' , class: 'navbar-btn'
        .collapse.navbar-collapse
          - if user_signed_in?
            .navbar-right
              p.navbar-text Willkommen #{current_user.display_name}
              = btn_link_to 'Logout', destroy_user_session_path, icon: 'sign-out', class: 'navbar-btn', method: :delete
          - else
            .navbar-right
              = button_to "Login", new_user_session_path, class: "navbar-btn"

          = bootstrap_form_tag action: :index, controller: :groups, method: :get, html: {class: 'navbar-form navbar-right'} do |f|
            .input-group
              = autocomplete_field_tag 'title', '', autocomplete_title_groups_path, :size => 75, class: 'form-control', placeholder: 'Suche'
              span.input-group-btn
                = button_tag class: 'btn btn-default'
                  i.fa.fa-search
    .container-fluid
      .row.fill-height
        .col-xs-12
          #header.col-xs-12.col-lg-12
            = yield :breadcrumbs
            #flash-container.content-wrapper
              - unless notice.nil?
                div.alert.alert-success.alert-dismissable
                  button type="button" class="close" data-dismiss="alert" aria-hidden="true"
                    | &times;
                  = notice
              - unless alert.nil? || alert.empty?
                div.alert.alert-danger.alert-dismissable
                  button type="button" class="close" data-dismiss="alert" aria-hidden="true"
                    | &times;
                  = alert
          #content.container-fluid.content-wrapper
            .row
              .col-lg-2
                = render partial: 'sidemenu'
              .col-lg-9.col-xs-offset-1
                .row
                  = yield :main
                .row
                  = yield
  /= render partial: 'footer'
